<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ site.texts.videos-section.title[page.lang] }}</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% assign sortedposts = site.posts  | sort: 'date' %}
      {% for post in sortedposts %}
      {% if post.lang == page.lang and post.episode != 1 %}
      <div class="portfolio-flex-item portfolio-item">
        <h4>Episode {{post.episode}}</h4>
        <a href="#portfolioModal-{{ post.episode }}-{{ post.lang }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.url }}/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
        <p>
          {{ post.short-desc }}
        </p>
        <div class="row download-section">
          <div class="col-lg-6 cc-by">
            <img src="{{ site.url }}/img/ccby.png" loading="lazy" width="77"/>*
          </div>
          {% if post.download-link %}
          <div class="col-lg-6">
            Download:
                <a href="{{ post.download-link }}" download class="download">
                  <i class="fa-solid fa-fw fa-download"></i>
              </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <p class="cc-by-explanation"><i>*{{ site.texts.videos-section.cc-by-explanation[page.lang] }}</i></p>
  </div>
</section>
