<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>

</html>


{% unless page.url contains "/en" or page.url contains "/fr"  %}
<script type="text/javascript">
    $( document ).ready(function(){
        var userLang = navigator.language || navigator.userLanguage;
        console.log(userLang)
        if ((userLang == "en") || (userLang == "en-EN")) {
            console.log("redirecting to en")
            window.location.href = "{{ site.url }}/en/"
        }
        else {
            console.log("redirecting to fr")
            window.location.href = "{{ site.url }}/fr/"
        }
    });
</script>
{% endunless %}